
    .levelsSelected{
      fill:#4b81ec;
      stroke:white;
      fill-opacity: 0.3;
      stroke-width:1px;
    }
	select {
    text-align: center;
    padding: 5px;
    width: 29vh;
    border-radius: 65px 65px 65px 65px;
-moz-border-radius: 65px 65px 65px 65px;
-webkit-border-radius: 65px 65px 65px 65px;
border: 1px solid #000000;
	}
    .levels{
      fill:#4b81ec;
      stroke:white;
      fill-opacity: 0.08;
      stroke-width:1px;
    }
    circle {
      fill:red;
      fill-opacity: 0.3;
      stroke: red;
      stroke-width: 1px;
    }
	
  .selectedCircle, .selectedCircleClick {
      fill:black;
      fill-opacity: 0.3;
      stroke: black;
      stroke-width: 1px;
    }

	#mapCircles{
	position: absolute;
    width: 79%;
    height: 98vh;
    overflow: hidden;
	}
	#circleContainer {
	position:absolute;
	width: 2000px;
  height: 2000px;
	}
  #wrapper {
        float: right;
        width: 20%;
        font-size: 0.8em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

  #infoPanel{
    height: 60vh;
    float: right;
    display: block;
    overflow:scroll;
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
        
	}
	#rightPanel{
    height: 40vh;
    float: right;
    position:absolute;
    top:60vh;
    width: inherit;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
        
	}

	#headFilters
	{
	height: 10vh;
  width: 80vh;
  background-color: rgb(255,255,255,0.5);
  opacity: 0.7;
  float: left;
	display: block;
	}
  .logo
  {
    opacity: 1;
  }
  .odd
  {
    background-color: white;
    margin:0;
  }
  #rightPanel > div > p
  {
    padding-left: 5%;
    padding-right: 5%;
  }
 #rightPanel > div > p:hover
  {
    background-color: red;
  }

  .even
  {
    background-color: #f2f8ff;
    margin: 0;
  }
  .movieTitle, .movieTitleClick
  {
    margin-top: 75%;
    /*margin-left: 5%;*/
  }

  .poster, .posterClick
  {
    margin-left: 5%;
  }
  .posterImage
  {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
  }
  
.movieInfo
{
  display: block;
}
#slider
{
       margin-top: 7vh;
    height: 9vh;
    padding: 8px;
    background-color: rgba(0,0,0,0.3);
    margin-left: -30vh;
    padding-top: 0px;
}

.country, .countryClick, .release, .releaseClick
{
  text-align: right;
  /*margin-right: 5%;*/
}

/*.plot, .plotClick, .genre, .genreClick, .awards, .awardsClick
{
  margin-left: 5%;
  margin-right: 5%;
}*/

#list_title
{
  text-align: center;
}